@font-face {
    font-family: "Lato-Hairline";
    font-style: auto;
    src: url("Lato-Hairline.woff") format("woff"),
    url("Lato-Hairline.woff2") format("woff2");
}
@font-face {
    font-family: "Lora-Regular";
    font-style: auto;
    src: url("Lora-Regular.woff") format("woff"),
    url("Lora-Regular.woff2") format("woff2");
}
* {
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    margin: 20px auto;
    max-width: 886px;
    border: 2px solid #B2B4C0;
    box-shadow: 12px 12px 2px 1px rgba(71, 99, 102, 0.2);
    border-radius: 10px;
}
.pageCV {
    position: relative;
}
header {
    background: #ebc9bb;
    margin-top: 50px;
    padding: 120px 0;
    position: relative;
}
.nameBlock {
    position: absolute;
    right: 130px;
    bottom: 80px;
}
.name, h3 {
    font-family: Lato-Hairline, sans-serif;
    text-transform: uppercase;
}
.position {
    font-family: Lora-Regular, sans-serif;
    text-transform: lowercase;
    font-style: italic;
    padding-top: 5px;
}
section {
    background: #5b8f8f;
    position: absolute;
    max-width: 300px;
    margin-left: 50px;
    top: -50px;
    color: #ffffff;
    padding-bottom: 250px;
    border-radius: 0 0 120px 120px;
}
.photo {
    padding: 45px 20px;
    max-width: 300px;
}
.block {
    padding-top: 20px;
}
.blockAbout, .blockContact h3 {
    text-align: center;
    padding: 10px;
}
.blockAbout{
    padding: 0 30px;
}
.blockAbout p {
    padding-top: 10px;
    text-align: justify;
}

li {
    list-style-type: none;
}
.blockContact{
    padding: 10px 0;
}
.contacts {
    line-height: 24px;
}
.linkContact {
    text-decoration: none;
    color: #ffffff;
}
main {
    padding: 65px 0 0 380px;
}
.round {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    background: #5b8f8f;
}
.text {
    font-family: Lora-Regular, sans-serif;
    font-style: italic;
    padding-top: 15px;
}
.code {
    font-family: Lora-Regular, sans-serif;
    padding: 15px;
    background: #f6f8fa;
}
.spaceBefore {
    margin-left: -4px;
}
.spaceBeforeLine {
    margin-left: 10px;
}
.spaceBeforeAlert {
    margin-left: 20px;
}
.linkProject, .pageGit {
    text-decoration: none;
    color: #000000;
}
.blockLang {
    margin-bottom: 20px;
}
footer {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
.logo {
    width: 50px;
}
@media screen and (max-width: 786px) {
    .nameBlock {
        right: 80px;
    }
    .name{
        font-size: 24px;
        line-height: 22px
    }
    .position{
        font-size: 18px;
        line-height: 22px
    }
    main{
        margin-right: 10px;
    }
}
@media screen and (max-width: 650px) {
    .nameBlock {
        right: 20px;
    }
}